<nav class="navbar bg-primary navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand h1">TO-DO App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-items" id="navbarText">
            <span class="navbar-text me-3"><strong>Signed in as: </strong>John Cena</span>
            <button type="button" class="btn btn-light">Log out</button>
        </div>
    </div>
</nav>

<div class="create-button-container px-3 my-4">
    <button type="button" class="btn btn-primary create-button">Create Task</button>
</div>