<nav class="navbar bg-primary navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand h1">TO-DO App</a>
        <div class="navbar-items" id="navbarText">
            <span class="navbar-text me-3"><strong>Signed in as: </strong>John Cena</span>
            <button type="button" class="btn btn-light">Log out</button>
        </div>
    </div>
</nav>

<div class="create-button-container px-3 my-4">
    <button type="button" class="btn btn-primary create-button" data-bs-toggle="modal"
        data-bs-target="#createTaskModal">Create Task</button>
</div>

<tasks-table></tasks-table>

<!-- Modal -->
<div class="modal fade" id="createTaskModal" tabindex="-1" aria-labelledby="createTaskModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="createTasksForm" (ngSubmit)="onCreateTaskSubmit()">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Create task</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning" role="alert" *ngIf="showInvalidCreateTaskForm">
                        Fill out all required fields.
                    </div>
                    <div class="mb-3">
                        <label for="formTitle" class="form-label">Title</label>
                        <input class="form-control" type="text" id="formTitle" formControlName="title">
                    </div>
                    <div class="mb-3">
                        <label for="formDescription" class="form-label">Description</label>
                        <textarea class="form-control" id="formDescription" rows="3"
                            formControlName="description"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        #closeModalButton>Cancel</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>