<div class="tasks-table-container row px-3">
    <div class="col-sm-12 col-md-4">
        <h3>Awaited</h3>
        <div>
            <task-card *ngFor="let task of awaitedTasks" [task]="task" [allowEdit]="allowEditToCards"></task-card>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <h3>To Do</h3>
        <div>
            <!-- <task-card></task-card> -->
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <h3>Done</h3>
        <div>
            <!-- <task-card></task-card> -->
        </div>
    </div>
</div>