<div class="login-page">
    <div class="login-section-container px-5 py-5">
        <h2 class="text-center">Angular To-do App</h2>
        <div class="mb-3 mt-5">
            <label for="formUsername" class="form-label">Username</label>
            <input class="form-control" type="text" id="formUsername">
        </div>
        <div class="mb-5">
            <label for="formPassword" class="form-label">Password</label>
            <input class="form-control" type="password" id="formPassword">
        </div>
        <div class="login-function">
            <button type="button" class="btn btn-primary login-button">Login</button>
            <p class="mt-2"><a class="link-opacity-50-hover" href="#">Register</a></p>
        </div>
    </div>
</div>